# Painel 220 — Environment Variables
SUPABASE_URL=https://kzurrvoxnhgmaapafnqd.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt6dXJydm94bmhnbWFhcGFmbnFkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyNzE2OTUsImV4cCI6MjA5Mjg0NzY5NX0.95BCETttNiYYWCmY-ldlDoKhiGwEQoy_v5-xIPbyT60
DEBUG=True

# Google Gemini
GOOGLE_API_KEY=AIzaSyCdmTNPb5fq7feGB4oa6uKPS_KuZ3Qms7g
